.loginForm {
  display: flex;
  flex-flow: column;
  justify-content: center;

  padding: 2rem 0;
  width: 18%;
  border-radius: 10px;
  background-color: var(--material-white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form {
  padding: 0 1rem;
}
